@font-face {
    font-family:  'Roboto';
    font-style: normal;
    font-weight: 300;
    src: local('Roboto Light'), local('Roboto-Light'), url('../fonts/roboto-v27-latin-ext_latin-300.woff2') format('woff2')
}

@font-face {
    font-family:  'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'), url('../fonts/roboto-v27-latin-ext_latin-regular.woff2') format('woff2')
}

@font-face {
    font-family:  'Roboto';
    font-style: normal;
    font-weight: 500;
    src: local('Roboto Mediam'), local('Roboto-Medium'), url('../fonts/roboto-v27-latin-ext_latin-500.woff2') format('woff2')
}

@font-face {
    font-family:  'Roboto';
    font-style: normal;
    font-weight: 600;
    src: local('Roboto Bold'), local('Roboto-Bold'), url('../fonts/roboto-v27-latin-ext_latin-700.woff2') format('woff2')
}