always-auth = false
registry = https://registry.npmjs.org/
@wynd:always-auth = true
@wynd:registry = https://nexus.wynd.eu/repository/npm/

@wynd-bo:always-auth = true
@wynd-bo:registry = https://nexus.wynd.eu/repository/npm/
@bo:always-auth = true
@bo:registry = https://nexus.wynd.eu/repository/npm/

@wynd-pos:always-auth = true
@wynd-pos:registry = https://nexus.wynd.eu/repository/npm/
@pos:always-auth = true
@pos:registry = https://nexus.wynd.eu/repository/npm/

@sifodyas:always-auth = true
@sifodyas:registry = https://nexus.wynd.eu/repository/npm/
